---
layout: default
---
<!-- _layouts/cv.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="assets/pdf/CV.pdf" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          

          <article>
            <div class="cv">
              <script src="https://emgithub.com/embed-v2.js?target=https%3A%2F%2Fgithub.com%2Fayushkumartarun%2Fayushkumartarun.github.io%2Fblob%2Fd66f844481985242fff616d9ff4ebd89006e6f4d%2Fassets%2FCV.pdf&style=default&type=code&showBorder=on&showLineNumbers=on&showFileMeta=on&showFullPath=on&showCopy=on"></script>
              </div>
          </article>

        </div>
