---
layout: default
---
<!-- _layouts/cv.html -->
        <div class="post">

          <header class="post-header">
            <h1 class="post-title">{{ page.title }} {% if page.cv_pdf %}<a href="assets/pdf/CV.pdf" target="_blank" rel="noopener noreferrer" class="float-right"><i class="fas fa-file-pdf"></i></a>{% endif %}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          

          <article>
            <div class="cv">
              <iframe src="https://docs.google.com/gview?url=https://github.com/ayushkumartarun/ayushkumartarun.github.io/blob/92387d0a0b2d435d80c990464dd84d49448b1855/assets/pdf/CV.pdf&embedded=true" style="width:100%; height:100%;" frameborder="0"></iframe>
  </body>
</html>

              </div>
          </article>

        </div>
